#name {
text-align: center;
font-family: fantasy;
font-size: 500%;
}

#links {
border-top: 3px black solid;
border-bottom: 3px black solid;
padding-top: 10px;
padding-bottom: 10px;
word-spacing: 20px;    
text-indent: 5%;
}

#ourid {
text-align: center;
border-top: 3px black solid;
border-bottom: 3px black solid;
padding-top: 10px;
padding-bottom: 10px;
font-size: 120%;
}

body {
font-family: cursive;
}