body {
	text-align: center;
}	

table, td {
	border: 1px black solid; width:70%; 
	margin-right: auto; margin-left: auto; table-layout: fixed;	
}

td {
	font-style: italic;
}	

#band {
	font-size: 40px;
}

@font-face {
	font-family: "Tangerine";
	font-style: normal;	
	font-weight: 200;
	
	src: url("https://fonts.googleapis.com/css?family=Tangerine");
}
.music {
	font-family: Tangerine;
}	



a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #ffaf4d;
}	

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {		