body {
	text-align: center;
}	

table, td {
	border: 1px black solid; width:70%; 
	margin-right: auto; margin-left: auto; table-layout: fixed;	
	background-color: #ccff80;
}

td {
	font-style: italic;
}	

#band {
	font-size: 40px;
}

@font-face {
	font-family: "Tangerine";
	font-style: normal;	
	font-weight: 200;
	
	src: url("https://fonts.googleapis.com/css?family=Tangerine");
}
.music {
	font-family: Tangerine;
}	

#emptydiv {
 
	background-image: url("https://cdn.shopify.com/s/files/1/0420/2505/products/shalsheles_volume_v_p_400_1200x.jpeg?v=1460496233"); width:250px; height: 250px;  

	background-size: 250px 250px;
	margin: auto;    
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #ffaf4d;
}	
	