#name {
	text-align: center;
	font-family: Anton;
	font-size: 500%;
}

#links {
	border-top: 3px black solid;
	border-bottom: 3px black solid;
	padding-top: 10px;
	padding-bottom: 10px;
	word-spacing: 20px;    
	text-indent: 5%;
}

#ourid {
	text-align: center;
	border-top: 3px black solid;
	border-bottom: 3px black solid;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120%;
}

#main {
	background-color: LightGoldenRodYellow;
}

body {
	font-family: cursive;
}

a:link {
	color: green;
}	
	
a:visited {
	color: #ff6600;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}		

td {		
	vertical-align: top;
	text-align: center;
}
	

