#ourname {
	text-align: center;
	font-family: Anton;
	font-size: 600%;
	color:#994d00;
}

#links {
	border-top: 3px brown solid;
	border-bottom: 3px brown solid;
	padding-top: 10px;
	padding-bottom: 10px;
	word-spacing: 20px;    
	text-indent: 5%;
	background-color: #cc9900;
	}

#ourid {
	text-align: center;
	border-top: 3px brown solid;
	border-bottom: 3px brown solid;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120%;
	background-color: #cc9900;
	}

body {
	background-color: LightGoldenRodYellow;
	font-family: cursive;
}

a:link {
	color: darkbrown;
}	
	
a:visited {
	color: black;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}		
