body {
text-align: center;
}	

table, th, td {
border: 1px black solid; width:70%; 
margin-right: auto; margin-left: auto; table-layout: fixed;	
}

#band {
font-size: 40px;
}


.music {
font-family: Tangerine;
}	

#emptydiv {
 
background-image: url("https://cdn.shopify.com/s/files/1/0420/2505/products/shalsheles_volume_v_p_400_1200x.jpeg?v=1460496233"); width:250px; height: 250px;  
background-size: 250px 250px;
margin: auto;    
}
	